<p id="notice"><%= notice %></p>

<%= turbo_stream_from @blueprint %>

<%= turbo_frame_tag "blueprint" do %>
  <%= render @blueprint %>
  <%= link_to 'Edit', edit_blueprint_path(@blueprint) %> |
  <%= link_to 'Back', blueprints_path, "data-turbo-frame": "_top" %>
<% end %>


<div class="mt-4" id="rooms">
  <%= render @blueprint.rooms %>
</div>


<div class="mt-4 pt-4 border-t-2 border-gray-400">
  <%= turbo_frame_tag "new_room", src: new_blueprint_room_path(@blueprint), target: "_top" %>
</div>
