<p id="notice"><%= notice %></p>
<div <%= dom_id room %> class="border-t-2 border-gray-200">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room.description %>
  </p>

  <p>
    <strong>Room number:</strong>
    <%= room.room_number %>
  </p>
</div>
