<h1>New Room</h1>

<%= turbo_frame_tag "new_room", target: "_top" do %>
  <%= form_with(model: [@room.blueprint, @room],
        data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <div class="field">
      <%= form.label :room_number %>
      <%= form.text_field :room_number %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
